<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352023153384-1kfjlpbga8bg0iabgpj6c6tkl3rj2s7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352023153384-1kfjlpbga8bg0iabgpj6c6tkl3rj2s7i</string>
	<key>API_KEY</key>
	<string>AIzaSyBh9QYrz3cKevVzvZLfAvUEifrnzqHqhOA</string>
	<key>GCM_SENDER_ID</key>
	<string>352023153384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MaxLaurel.ToDOList</string>
	<key>PROJECT_ID</key>
	<string>todolist-e88bf</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-e88bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352023153384:ios:877aca970e7ffc7feed75d</string>
</dict>
</plist>